<div
  class="cc-sidebar-container pt-1"
  [style.width.px]="sidebarWidth"
  (mouseenter)="expandSidebar()"
  (mouseleave)="collapseSidebar()"
>
  <nav class="nav flex-column">  
    <div class="row">
      <div class="col-12">
 
        <div *appHasRole="[UserRole.ADMIN, UserRole.OWNER]" class="cc-container-btn-sidebar">
          <button
            type="button"
            class="cc-btn-sidebar"
            routerLink="/affiliatons"
            (click)="selectOptionSidebar('Informes')"
            (mouseenter)="setHover('Informes', true)"
            (mouseleave)="setHover('Informes', false)"
            [ngClass]="{ selected: isActive('Informes') && !sidebarComprimido }"
          >
            <img 
              height="40px" width="40px"
              src="/assets/img/icon-sidebar-home{{ (isActive('Informes') || isHover('Informes')) ? '-active' : '' }}.svg"
              [ngClass]="{ selected: isActive('Informes') && sidebarComprimido }"
            />
            Informes
          </button>
        </div>


        <div *appHasRole="[UserRole.ADMIN, UserRole.OWNER]" class="cc-container-btn-sidebar">
          <button
            type="button"
            class="cc-btn-sidebar"
            routerLink="/affiliatons"
            (click)="selectOptionSidebar('Lives')"
            (mouseenter)="setHover('Lives', true)"
            (mouseleave)="setHover('Lives', false)"
            [ngClass]="{ selected: isActive('Lives') && !sidebarComprimido }"
          >
            <img 
              height="40px" width="40px"
              src="/assets/img/icon-persona-plus{{ (isActive('Lives') || isHover('Lives')) ? '-active' : '' }}.svg"
              [ngClass]="{ selected: isActive('Lives') && sidebarComprimido }"
            />
            Lives
          </button>
          
        </div> 

        <div *appHasRole="[UserRole.ADMIN, UserRole.OWNER]" class="cc-container-btn-sidebar">
          <button
            type="button"
            class="cc-btn-sidebar"
            routerLink="/affiliatons"
            (click)="selectOptionSidebar('Mantenedores')"
            (mouseenter)="setHover('Mantenedores', true)"
            (mouseleave)="setHover('Mantenedores', false)"
            [ngClass]="{ selected: isActive('Mantenedores') && !sidebarComprimido }"
          >
            <img 
              height="40px" width="40px"
              src="/assets/img/icon-persona-plus{{ (isActive('Mantenedores') || isHover('Mantenedores')) ? '-active' : '' }}.svg"
              [ngClass]="{ selected: isActive('Mantenedores') && sidebarComprimido }"
            />
            Administración del Sistema
          </button>
        </div> 
        
      </div>
    </div> 
  </nav>
</div>
