/* INICIO ESTILOS SIDEBAR */
.cc-sidebar-container {
    height: calc(100% - 57px) !important;
    position: fixed !important;
    top: auto !important;
    left: 0 !important;
    background-color: #ffffff !important;
    transition: 0.5s !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;
    box-shadow: 5px 0px 10px 0px #0000001A !important;
    z-index: 3 !important;
}

.cc-container-btn-sidebar {
    padding: 5px 10px !important;
}

.cc-btn-sidebar {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 23.68px !important;
    text-align: left !important;
    color: #474756 !important;
}

.cc-btn-sidebar.selected {
    font-weight: 700 !important;
    color: #2670E0 !important;
    background-color: #EFF6FF !important;
}

.cc-btn-sidebar:hover {
    color: #2670E0 !important;
    background-color: #FBFBFB !important;
}

.cc-btn-sidebar img.selected {
    padding: 10px !important;
    margin-right: 10px !important;
    border-radius: 10px !important;
    background: #EFF6FF !important;
}

.cc-btn-sidebar img {
    padding: 10px !important;
    margin-right: 10px !important;
    border-radius: 10px !important;
    background: transparent !important;
}

.cc-text-off {
    color: transparent !important;
}
/* FIN ESTILOS SIDEBAR */