<nav class="navbar sticky-top cc-nav-custom">
    <div class="row w-100 my-1">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
                <img src="assets/img/logo-otic-sofofa-main.svg" alt="logo-sofofa" width="83px" height="33px">
                <!-- <p class="cc-titulo-header m-0 ms-4">Selección Personas</p> -->
            </div>
            <div class="d-flex align-items-center justify-content-end"> 
                <!-- Botón de acceso rápido al Modo Live -->
                <a routerLink="/live-mode" class="btn btn-live me-3" title="Modo Live">
                    <span class="live-dot-small"></span>
                    LIVE
                </a>
                
                <div class="notification position-relative me-3" (click)="toggleModal()">
                    <img src="assets/img/icon-notification.svg" alt="notificaciones" width="24" height="24" class="notification-icon">
                    <span class="badge rounded-pill bg-danger notification-badge">2+</span>
                </div>

                <div class="d-flex align-items-center"> 
                    <span class="badge ms-3 me-1">
                        <app-avatar
                            name="Usuario 1"
                            [imgUrl]="user?.attributes?.profile_pic[0] || null"
                            [size]="36" [useRandomColor]="false">
                        </app-avatar>
                    </span>
                    <div class="d-flex flex-column">
                        <p class="mb-0 cc-nombre-usuario">
                            Usuario 1
                            <!-- {{ user?.attributes?.name[0] || user?.firstName + ' ' + user?.lastName }} -->
                        </p>
                        <ng-container *ngIf="user?.organizations">
                            <p class="mb-0 cc-cargo-usuario">{{ user?.organizations[0]?.title | titlecase }}</p>
                        </ng-container>
                        <ng-container *ngIf="!user?.organizations">
                            <p class="mb-0 cc-cargo-usuario"> Perfil Prueba </p>
                        </ng-container>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</nav>