.notification {
    cursor: pointer;
}

.notification-icon {
    display: block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 10px;
    padding: 2px 5px;
    min-width: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-mdc-menu-item{
    min-height: 34px !important;
}