<div class="card mb-4">
  <div class="card-body">
    <!-- Tabs Navigation --> 
    <div class="switch-container mt-1">
      <button class="switch-btn switch-btn-left" [class.active]="subTab === 'ingresos'"
        [class.padding-left]="subTab === 'ingresos'" (click)="selectSubTab('ingresos')">
        {{SUB_TABS.INGRESOS.label}}
      </button>
      <button class="switch-btn switch-btn-right" [class.active]="subTab === 'pagos'"
        [class.padding-right]="subTab === 'pagos'" (click)="selectSubTab('pagos')">
        {{SUB_TABS.PAGOS.label}}
      </button>
    </div> 

    <!-- Contenido de Ingresos -->
    <div *ngIf="subTab === 'ingresos'">
      <div class="mb-3">
        <div class="row"> 
          <div class="col-md-7">

            <h2 class="card-title">Hitos de Ingreso</h2>
            <p class="text-muted">Los montos ingresados deben sumar el 100% del Valor Venta.</p>
          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-end mt-3">
              <button 
                class="btn btn-primary" 
                (click)="agregarHitoIngreso()"
                type="button">
                Agregar Hito de Ingreso
              </button>
            </div>
          </div>

        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered" style="table-layout: fixed;">
          <thead class="table-light">
            <tr>
              <th style="align-content: center;background-color: #d6e4f9;">Hito</th>
              <th style="align-content: center;background-color: #d6e4f9; width: 140px;">Fecha Pactada</th>
              <th style="align-content: center;background-color: #d6e4f9;">Tipo Financiamiento</th>
              <th style="align-content: center;background-color: #d6e4f9; width: 70px;">% de pago</th>
              <th style="align-content: center;background-color: #d6e4f9; width: 90px;">Sub total</th>
              <th style="align-content: center;background-color: #d6e4f9; width: 60px;"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Fila de entrada -->
            <tr>
              <td>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="nuevoHitoIngreso.nombre"
                  placeholder="Ingrese Nombre de Hito">
              </td>
              <td>
                <input 
                  type="date" 
                  class="form-control" 
                  [(ngModel)]="nuevoHitoIngreso.fechaPactada">
              </td>
              <td>
                <select 
                  class="form-select" 
                  [(ngModel)]="nuevoHitoIngreso.tipoFinanciamiento">
                  <option value="Financiamiento">Financiamiento</option>
                  <option value="Contado">Contado</option>
                  <option value="Crédito">Crédito</option>
                </select>
              </td>
              <td>
                <div class="input-group">
                  <input 
                    type="number" 
                    class="form-control" 
                    [(ngModel)]="nuevoHitoIngreso.porcentajePago"
                    min="0" 
                    max="100"> 
                </div>
              </td>
              <td>
                <div class="input-group"> 
                  <input 
                    type="number" 
                    class="form-control" 
                    [(ngModel)]="nuevoHitoIngreso.subtotal">
                </div>
              </td>
              <td style="width: 60px; align-content: center;"> 
                  <img src="../../../../../assets/img/icon-basurero-black.svg"   alt=""> 
              </td>
            </tr>

            <!-- Filas de datos existentes -->
            <tr *ngFor="let hito of hitosIngreso; let i = index">
              <td>{{ hito.nombre }}</td>
              <td>{{ hito.fechaPactada }}</td>
              <td>{{ hito.tipoFinanciamiento }}</td>
              <td>{{ hito.porcentajePago }} %</td>
              <td>$ {{ hito.subtotal | number }}</td>
              <td style="width: 60px; align-content: center;"> 
                  <img src="../../../../../assets/img/icon-basurero-black.svg" (click)="eliminarHitoPago(i)" alt=""> 
              </td>
            </tr>

            <!-- Fila de totales -->
            <tr class="table-light fw-bold">
              <td style="background-color: #d6e4f9;" colspan="3">Total</td>
              <td style="background-color: #d6e4f9;">{{ totalPorcentajeIngreso }} %</td>
              <td style="background-color: #d6e4f9;">$ {{ totalSubtotalIngreso | number }}</td>
              <td style="background-color: #d6e4f9; width: 60px; align-content: center;"></td>
            </tr>
          </tbody>
        </table>
      </div>

       
    </div>

    <!-- Contenido de Pagos -->
    <div *ngIf="subTab === 'pagos'">
      <div class="mb-3">
        <h5>Hitos de Pagos</h5>
        <p class="text-muted">Los pagos ingresados corresponden al monto bruto de los gastos de tipo directos.</p>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead class="table-light">
            <tr>
              <th style="background-color: #d6e4f9;" >Pago</th>
              <th style="background-color: #d6e4f9;" >Fecha Pactada</th>
              <th style="background-color: #d6e4f9;" >Proveedor</th>
              <th style="background-color: #d6e4f9;" >Sub total</th>
              <th style="text-align: center; background-color: #d6e4f9;" >Opciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filas de datos -->
            <tr *ngFor="let pago of hitosPagos; let i = index">
              <td style="color: #474756; font-size: 14px; border-bottom: 1px solid #d6e4f9 !important;">{{ pago.descripcion }}</td>
              <td style="color: #474756; font-size: 14px; border-bottom: 1px solid #d6e4f9 !important;">{{ pago.fechaPactada }}</td>
              <td style="color: #474756; font-size: 14px; border-bottom: 1px solid #d6e4f9 !important;">{{ pago.proveedor }}</td>
              <td style="color: #474756; font-size: 14px; border-bottom: 1px solid #d6e4f9 !important;">$ {{ pago.subtotal | number }}</td>
              <td style="text-align: center; border-bottom: 1px solid #d6e4f9 !important;"> 
                  <img src="../../../../../assets/img/icon-basurero-black.svg" (click)="eliminarHitoPago(i)" alt=""> 
              </td>
            </tr>

            <!-- Fila de total -->
            <tr class="table-light fw-bold">
              <td style="background-color: #d6e4f9;"  colspan="3">Total</td>
              <td style="background-color: #d6e4f9;"  colspan="2">$ {{ totalPagos | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>