
<!-- Costo del Equipo Basal -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1 card-title">Costo del Equipo Basal</h2>
            <p class="text-muted mb-3" style="font-size: 16px;">Agregue el equipo base para el proyecto</p>
        </div>
        <button class="btn btn-primary">Agregar nuevo Rol</button>
    </div>
    <div class="card-body">
        <table class="table" style="table-layout: fixed;">
                <thead class="table-light">
                    <tr>
                        <th style="background-color: #d6e4f9; width: 15%;">Equipo</th>
                        <th style="background-color: #d6e4f9; width: 20%;">Rol</th>
                        <th style="background-color: #d6e4f9; width: 20%;">Responsable</th>
                        <th style="background-color: #d6e4f9; width: 10%;">Horas</th>
                        <th style="background-color: #d6e4f9; width: 10%;">Sub Total</th>
                        <th style="background-color: #d6e4f9; width: 15%;">Tipo Costo</th>
                        <th style="text-align: center; background-color: #d6e4f9; width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-select">
                                <option>Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Seleccione Rol</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" value="00:00">
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Tipo Costo</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link text-danger p-0">
                                <img src="../../../../../assets/img/icon-basurero-black.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="">
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>Total Neto</strong></td>
                        <td style="background-color: #d6e4f9;"> <strong>00:00</strong></td>
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                    <tr class="table-secondary">
                        <td style="background-color: #cfcae5;" colspan="3"><strong>Total Bruto</strong></td>
                        <td style="background-color: #cfcae5;"><strong>00:00</strong></td>
                        <td style="background-color: #cfcae5;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>

<!-- Equipo Extra -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1 card-title">Equipo Extra</h2>
            <p class="text-muted mb-3">Agregue los roles que contratará para el proyecto.</p>
        </div>
        <button class="btn btn-primary">Agregar nuevo Rol</button>
    </div>
    <div class="card-body">
        <table class="table" style="table-layout: fixed;">
                <thead class="table-light">
                    <tr>
                        <th style="background-color: #d6e4f9; width: 25%;">Rol</th>
                        <th style="background-color: #d6e4f9; width: 25%;">Responsable</th>
                        <th style="background-color: #d6e4f9; width: 12%;">Horas</th>
                        <th style="background-color: #d6e4f9; width: 13%;">Sub Total</th>
                        <th style="background-color: #d6e4f9; width: 20%;">Tipo Costo</th>
                        <th style="text-align: center; background-color: #d6e4f9; width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese Rol">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese">
                        </td>
                        <td>
                            <input type="text" class="form-control" value="00:00">
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Tipo Costo</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link text-danger p-0">
                                <img src="../../../../../assets/img/icon-basurero-black.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="">
                        <td style="background-color: #d6e4f9;" colspan="2"><strong>Total Neto</strong></td>
                        <td style="background-color: #d6e4f9;"><strong>00:00</strong></td>
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                    <tr class="table-secondary">
                        <td style="background-color: #cfcae5;" colspan="2"><strong>Total Bruto</strong></td>
                        <td style="background-color: #cfcae5;"><strong>00:00</strong></td>
                        <td style="background-color: #cfcae5;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>

<!-- Honorarios -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1 card-title">Honorarios</h2>
            <p class="text-muted mb-3">Agregue los roles que contratará a honorarios.</p>
        </div>
        <button class="btn btn-primary">Agregar nuevo Rol</button>
    </div>
    <div class="card-body">
        <table class="table" style="table-layout: fixed;">
                <thead class="table-light">
                    <tr>
                        <th style="background-color: #d6e4f9; width: 25%;">Rol</th>
                        <th style="background-color: #d6e4f9; width: 25%;">Responsable</th>
                        <th style="background-color: #d6e4f9; width: 12%;">Horas</th>
                        <th style="background-color: #d6e4f9; width: 13%;">Sub Total</th>
                        <th style="background-color: #d6e4f9; width: 20%;">Tipo Costo</th>
                        <th style="text-align: center; background-color: #d6e4f9; width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese Rol">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese">
                        </td>
                        <td>
                            <input type="text" class="form-control" value="00:00">
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Tipo Costo</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link text-danger p-0">
                                <img src="../../../../../assets/img/icon-basurero-black.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="">
                        <td style="background-color: #d6e4f9;" colspan="2"><strong>Total Neto</strong></td>
                        <td style="background-color: #d6e4f9;"><strong>00:00</strong></td>
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                    <tr class="table-secondary">
                        <td style="background-color: #cfcae5;" colspan="2"><strong>Total Bruto</strong></td>
                        <td style="background-color: #cfcae5;"><strong>00:00</strong></td>
                        <td style="background-color: #cfcae5;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>

<!-- Equipo OTIC -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1 card-title">Equipo OTIC</h2>
            <p class="text-muted mb-3">Agregue los roles que utilizará del equipo OTIC.</p>
        </div>
        <button class="btn btn-primary">Agregar nuevo Rol</button>
    </div>
    <div class="card-body">
        <table class="table" style="table-layout: fixed;">
                <thead class="table-light">
                    <tr>
                        <th style="background-color: #d6e4f9; width: 25%;">Rol</th>
                        <th style="background-color: #d6e4f9; width: 25%;">Responsable</th>
                        <th style="background-color: #d6e4f9; width: 12%;">Horas</th>
                        <th style="background-color: #d6e4f9; width: 13%;">Sub Total</th>
                        <th style="background-color: #d6e4f9; width: 20%;">Tipo Costo</th>
                        <th style="text-align: center; background-color: #d6e4f9; width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese Rol">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Ingrese">
                        </td>
                        <td>
                            <input type="text" class="form-control" value="00:00">
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Tipo Costo</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link text-danger p-0">
                                <img src="../../../../../assets/img/icon-basurero-black.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="">
                        <td style="background-color: #d6e4f9;" colspan="2"><strong>Total Neto</strong></td>
                        <td style="background-color: #d6e4f9;"><strong>00:00</strong></td>
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                    <tr class="table-secondary">
                        <td style="background-color: #cfcae5;" colspan="2"><strong>Total Bruto</strong></td>
                        <td style="background-color: #cfcae5;"><strong>00:00</strong></td>
                        <td style="background-color: #cfcae5;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>

<!-- Costos Operacionales -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h2 class="mb-1 card-title">Costos Operacionales</h2>
            <p class="text-muted mb-3">Agregue los Costos Operaciones del proyecto (Traslados, Viáticos, Arriendos, etc)</p>
        </div>
        <button class="btn btn-primary">Agregar nuevo costo</button>
    </div>
    <div class="card-body">
        <table class="table" style="table-layout: fixed;">
            <thead class="table-light">
                    <tr>
                        <th style="background-color: #d6e4f9; width: 25%;">Tipo</th>
                        <th style="background-color: #d6e4f9; width: 12%;">Cantidad</th>
                        <th style="background-color: #d6e4f9; width: 18%;">Valor Unitario</th>
                        <th style="background-color: #d6e4f9; width: 15%;">Sub Total</th>
                        <th style="background-color: #d6e4f9; width: 25%;">Tipo Costo</th>
                        <th style="text-align: center; background-color: #d6e4f9; width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-select">
                                <option>Seleccione Tipo de Costo</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <span>$ 0</span>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Tipo Costo</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-link text-danger p-0">
                                <img src="../../../../../assets/img/icon-basurero-black.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="">
                        <td style="background-color: #d6e4f9;" colspan="2"><strong>Total Neto</strong></td>
                        <td style="background-color: #d6e4f9;"><strong>00:00</strong></td>
                        <td style="background-color: #d6e4f9;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                    <tr class="table-secondary">
                        <td style="background-color: #cfcae5;" colspan="2"><strong>Total Bruto</strong></td>
                        <td style="background-color: #cfcae5;"><strong>00:00</strong></td>
                        <td style="background-color: #cfcae5;" colspan="3"><strong>$ 0</strong></td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>