.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,
        #174D9C 0%,
        #174D9C 50%,
        white 50%,
        white 100%);
  }