.notification-item {
  border-bottom: 1px solid #E0E0E0; 
  margin-bottom: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0;
}

.notification-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
