<div>   
    <!-- % para el Impuesto -->
    <div class="card mb-3">
        <div class="impuesto-row">
            <label style="color: #808AA8; font-size: 14px;">% para el Impuesto</label>
            <input type="text" class="form-control impuesto-input" value="0 %" readonly>
        </div>
    </div>

    <!-- Valor del Proyecto -->
    <div class="card mb-3">
        <div class="valor-proyecto-header">
            <h5 class="valor-proyecto-titulo">Valor del Proyecto</h5>
            <img src="../../../../../assets/img/icon-question-mark-gray.svg" alt="">
        </div>
        
        <div class="valor-row">
            <label class="label-valor">Valor Neto</label>
            <span class="valor">$ 0</span>
        </div>
        
        <div class="valor-row">
            <label class="label-valor">Valor Bruto</label>
            <span class="valor">$ 0</span>
        </div>
        
        <div class="ganancia-row">
            <label class="label-valor">% Ganancia</label>
            <input type="text" class="form-control ganancia-input" value="0 %" readonly>
        </div>
        
        <div class="valor-row">
            <label class="label-valor">Valor Total Neto</label>
            <span class="valor">$ 0</span>
        </div>
        
        <div class="valor-row">
            <label class="label-valor">Valor Total Bruto</label>
            <span class="valor">$ 0</span>
        </div>
        
        <div class="descuento-row">
            <label class="label-valor">Descuento</label>
            <input type="text" class="form-control descuento-input" value="0 %" readonly>
        </div>
        
        <div class="venta-box">
            <div class="venta-row">
                <label class="venta-label">Valor Venta Neto</label>
                <span class="venta-valor">$ 0</span>
            </div>
            <div class="venta-row">
                <label class="venta-label">Valor Venta Bruto</label>
                <span class="venta-valor">$ 0</span>
            </div>
        </div>
    </div>

    <!-- Costos del Proyecto -->
    <div class="card mb-3">
        <div class="costos-header">
            <h5 class="costos-titulo">Costos del Proyecto</h5>
            <img src="../../../../../assets/img/icon-question-mark-gray.svg" alt="">
        </div>
        
        <div class="costos-row">
            <label class="label-costos">Costos Directos</label>
            <span class="costos">$ 0</span>
        </div>
        
        <div class="costos-row">
            <label class="label-costos">Costos Indirectos</label>
            <span class="costos">$ 0</span>
        </div>
    </div>

    <!-- Margen del Proyecto -->
    <div class="card mb-3">
        <div class="margen-header">
            <h5 class="margen-titulo">Margen del Proyecto</h5>
            <img src="../../../../../assets/img/icon-question-mark-gray.svg" alt="">
        </div>
        
        <div class="margen-row">
            <label class="label-margen">Margen Presupuestado</label>
            <span class="margen">$ 0</span>
        </div>
        
        <div class="margen-row">
            <label class="label-margen">% Margen Presupuestado</label>
            <span class="margen">0 %</span>
        </div>
    </div>
</div>