<div class="container mt-4 crear-propuesta-header" style="max-width: 90%;">
    <div class="row mb-2">
        <div class="col-12">
            <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
            <h1 class="mb-1 page-title">Dashboard de Métricas de Livestream</h1>
            <p class="subtitle">Visualiza el desempeño completo del livestream.</p>
        </div>
    </div>
</div>

<div class="container main-layout" style="display: flex; max-width: 90%;" *ngIf="!loading && livestreamData">
 
    <div class="container content-section" style="max-width: 75%;">  
        <div class="card">
            <div class="tabs">
                <button class="tab-button" [class.active]="activeTab === 'IDENTIFICACION'" (click)="setActiveTab('IDENTIFICACION')">{{MAIN_TABS.IDENTIFICACION.label}}</button>
                <button class="tab-button" [class.active]="activeTab === 'COSTEO'" (click)="setActiveTab('COSTEO')">{{MAIN_TABS.COSTEO.label}}</button> 
            </div>
        </div>

        <div class="tab-content" *ngIf="activeTab === 'IDENTIFICACION'">
            <app-tab-identificacion class="tab-container" [livestreamData]="livestreamData"></app-tab-identificacion>
        </div>

        <div class="tab-content" *ngIf="activeTab === 'COSTEO'">
            <app-tab-costeo class="tab-container" [livestreamData]="livestreamData"></app-tab-costeo>
        </div> 
     
        <div class="button-group">
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-link" (click)="onVolver()">
                        <span class="icon">&#x276E;</span> Volver
                    </button>
                </div>
            </div> 
        </div>
    </div>
    <app-indices-proyecto class="container sidebar-section" style="max-width: 25%;" [livestreamData]="livestreamData"></app-indices-proyecto>
</div>

<div class="container" style="max-width: 90%; text-align: center; padding: 3em;" *ngIf="loading">
    <p>Cargando datos del livestream...</p>
</div>