<div> 
    <h3 class="title-section">Resumen Ejecutivo</h3>
    <div class="resumen-ejecutivo">
        <div class="card" *ngFor="let item of resumen" style="max-width: 19%;">
            <div class="card-header">
                <h3 style="font-weight: 700; font-size: 16px; color: #1D2345;">{{ item.titulo }}</h3>
                <img src="assets/img/icon-question-mark-gray.svg" alt="Información" class="icon-info">
            </div>
            <div class="card-body">
                <p class="valor">{{ item.valor }}</p>
                <p class="subtitulo">
                    <span class="badge">{{ item.subtitulo.split(' ')[0] }}</span>
                    <span class="texto">{{ item.subtitulo.substring(item.subtitulo.indexOf(' ') + 1) }}</span>
                </p>
            </div>
        </div>
  </div>
</div> 

<div>
    <h3 class="title-section">Flujo de Procesos</h3>
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card" style="align-items: start;">
                <label class="subtitle-section" for="">Procesos de selección por Estado</label>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div class="card" style="align-items: start;">
                <label class="subtitle-section" for="">Procesos de ingreso por Estado</label>
            </div>
        </div>
    </div>
</div>

<div>
    <h3 class="title-section">Análisis de tendencias</h3>
    <div class="row">
        <div class="col col-12 col-md-9">
            <div class="card" style="align-items: start;">
                <label class="subtitle-section" for="">Evolución Mensual procesos de selección activos v/s procesos ingreso cerrados</label>
            </div>
        </div>
        <div class="col col-12 col-md-3">
            <div class="card" style="align-items: start;">
                <label class="subtitle-section" for="">Conversión de procesos por estado</label>
            </div>
        </div>
    </div>
</div>